/*<meta />*/

p
{
	orphans: 2;
	widows: 2;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ol
{
	orphans: 2;
	widows: 2;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

ul
{
	orphans: 2;
	widows: 2;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

li
{
	orphans: 2;
	widows: 2;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

td
{
	orphans: 2;
	widows: 2;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	vertical-align: top;
}

p.BodyText
{
	orphans: 2;
	widows: 2;
	margin-left: 35pt;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
}

p.TableParagraph
{
	orphans: 2;
	widows: 2;
	font-size: 11pt;
	margin-top: 5pt;
	margin-left: 5pt;
	font-family: 'Microsoft Sans Serif';
}

p.p_1
{
	margin-top: 4pt;
	margin-left: 5pt;
	color: #2C5B77;
	font-size: 23pt;
}

span.span_1
{
	letter-spacing: 1pt;
}

span.span_2
{
	letter-spacing: 0pt;
}

span.span_3
{
	letter-spacing: -8pt;
}

p.BodyText_1
{
	orphans: 2;
	widows: 2;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-top: 11pt;
	margin-left: 5pt;
}

p.BodyText_2
{
	orphans: 2;
	widows: 2;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-top: 8pt;
	margin-left: 5pt;
}

p.BodyText_3
{
	orphans: 2;
	widows: 2;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-top: 1pt;
	margin-left: 0pt;
}

p.TableParagraph_1
{
	orphans: 2;
	widows: 2;
	font-size: 11pt;
	margin-top: 5pt;
	margin-left: 5pt;
	font-family: 'Microsoft Sans Serif';
	color: #333333;
}

td.td_1
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #ABD4E3;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #ABD4E3;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #ABD4E3;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #ABD4E3;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_2
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #ABD4E3;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #ABD4E3;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #ABD4E3;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_3
{
	background-color: #F6F6F6;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #ABD4E3;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #ABD4E3;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #ABD4E3;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_4
{
	background-color: #F6F6F6;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #ABD4E3;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #ABD4E3;
	padding-left: 0pt;
	padding-right: 0pt;
}

p.TableParagraph_2
{
	orphans: 2;
	widows: 2;
	font-size: 11pt;
	margin-top: 5pt;
	margin-left: 5pt;
	font-family: 'Microsoft Sans Serif';
	margin-right: 34pt;
	color: #333333;
}

table.table_1
{
	margin-left: 6pt;
	border-collapse: collapse;
}

td.td_5
{
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #ABD4E3;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #ABD4E3;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #ABD4E3;
	padding-left: 0pt;
	padding-right: 0pt;
}

td.td_6
{
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #ABD4E3;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #ABD4E3;
	padding-left: 0pt;
	padding-right: 0pt;
}

h1.Heading1
{
	orphans: 2;
	widows: 2;
	margin-top: 8pt;
	margin-left: 5pt;
	mc-heading-level: 1;
	font-family: 'Microsoft Sans Serif';
	font-size: 14pt;
	font-weight: normal;
}

h1.Heading1_1
{
	orphans: 2;
	widows: 2;
	margin-top: 8pt;
	margin-left: 5pt;
	mc-heading-level: 1;
	font-family: 'Microsoft Sans Serif';
	font-size: 14pt;
	font-weight: normal;
	color: #333333;
}

p.BodyText_4
{
	orphans: 2;
	widows: 2;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-top: 9pt;
	margin-left: 5pt;
	margin-right: 8pt;
}

span.span_4
{
	color: #0079AA;
}

p.BodyText_5
{
	orphans: 2;
	widows: 2;
	margin-left: 35pt;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-top: 8pt;
	margin-right: 8pt;
}

p.p_2
{
	margin-top: 3pt;
	margin-left: 23pt;
	margin-right: 12pt;
}

div.div_1
{
	left: 1327;
	top: 426;
	mso-wrap-style: square;
	v-text-anchor: top;
}

p.BodyText_6
{
	orphans: 2;
	widows: 2;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-top: 1pt;
	margin-left: 16pt;
}

span.span_5
{
	color: #0079AA;
	letter-spacing: 0pt;
}

span.span_6
{
	color: #0079AA;
	letter-spacing: -7pt;
}

p.p_3
{
	margin-top: 1pt;
	margin-bottom: 5pt;
	margin-left: 35pt;
	margin-right: 8pt;
}

span.span_7
{
	color: #666666;
	letter-spacing: 0pt;
}

span.span_8
{
	color: #666666;
}

span.span_9
{
	color: #666666;
	letter-spacing: 1pt;
}

span.span_10
{
	color: #666666;
	letter-spacing: -6pt;
}

p.p_4
{
	margin-top: 3pt;
	margin-left: 21pt;
	margin-right: 12pt;
}

div.div_2
{
	left: 7;
	top: 7;
	mso-wrap-style: square;
	v-text-anchor: top;
}

p.p_5
{
	margin-top: 1pt;
	margin-left: 16pt;
}

p.p_6
{
	margin-top: 3pt;
	margin-left: 35pt;
	margin-right: 23pt;
}

p.BodyText_7
{
	orphans: 2;
	widows: 2;
	margin-left: 35pt;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-top: 2pt;
	margin-right: 8pt;
}

span.span_11
{
	letter-spacing: -4pt;
}

p.BodyText_8
{
	orphans: 2;
	widows: 2;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-top: 9pt;
	margin-left: 5pt;
}

p.BodyText_9
{
	orphans: 2;
	widows: 2;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-top: 9pt;
	margin-left: 5pt;
	margin-right: 17pt;
	text-align: justify;
}

p.p_7
{
	margin-top: 8pt;
	margin-left: 5pt;
}

span.span_12
{
	font-size: 8pt;
}

p.BodyText_10
{
	orphans: 2;
	widows: 2;
	margin-left: 35pt;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-top: 10pt;
}

p.BodyText_11
{
	orphans: 2;
	widows: 2;
	margin-left: 35pt;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-top: 2pt;
}

p.p_8
{
	margin-right: 5pt;
	margin-top: 4pt;
	margin-left: 23pt;
}

div.div_3
{
	left: 727;
	top: 158;
	mso-wrap-style: square;
	v-text-anchor: top;
}

p.BodyText_12
{
	orphans: 2;
	widows: 2;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-top: 6pt;
	margin-left: 16pt;
}

span.span_13
{
	letter-spacing: -5pt;
}

p.BodyText_13
{
	orphans: 2;
	widows: 2;
	margin-left: 35pt;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-top: 3pt;
	margin-right: 8pt;
}

p.BodyText_14
{
	orphans: 2;
	widows: 2;
	margin-left: 35pt;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-top: 3pt;
}

span.span_14
{
	letter-spacing: -7pt;
}

p.BodyText_15
{
	orphans: 2;
	widows: 2;
	margin-left: 35pt;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-top: 4pt;
	margin-right: 8pt;
}

p.BodyText_16
{
	orphans: 2;
	widows: 2;
	margin-left: 35pt;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-top: 1pt;
}

span.span_15
{
	letter-spacing: -6pt;
}

p.BodyText_17
{
	orphans: 2;
	widows: 2;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-left: 5pt;
	margin-right: 16pt;
}

div.div_4
{
	left: 727;
	top: 160;
	mso-wrap-style: square;
	v-text-anchor: top;
}

p.BodyText_18
{
	orphans: 2;
	widows: 2;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-left: 0pt;
}

p.p_9
{
	margin-top: 3pt;
	margin-left: 21pt;
	margin-right: 49pt;
}

div.div_5
{
	left: 1327;
	top: 699;
	mso-wrap-style: square;
	v-text-anchor: top;
}

p.BodyText_19
{
	orphans: 2;
	widows: 2;
	margin-left: 35pt;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-bottom: 5pt;
	margin-right: 8pt;
}

p.p_10
{
	margin-right: 5pt;
	margin-top: 3pt;
	margin-left: 23pt;
}

p.p_11
{
	margin-top: 3pt;
	margin-left: 23pt;
	margin-right: 49pt;
}

div.div_6
{
	left: 1327;
	top: 658;
	mso-wrap-style: square;
	v-text-anchor: top;
}

p.BodyText_20
{
	orphans: 2;
	widows: 2;
	margin-left: 35pt;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-top: 1pt;
	margin-right: 8pt;
}

div.div_7
{
	left: 1327;
	top: 428;
	mso-wrap-style: square;
	v-text-anchor: top;
}

p.BodyText_21
{
	orphans: 2;
	widows: 2;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-top: 1pt;
	margin-left: 10pt;
}

p.BodyText_22
{
	orphans: 2;
	widows: 2;
	margin-left: 35pt;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-top: 3pt;
	margin-right: 16pt;
}

p.TableParagraph_3
{
	orphans: 2;
	widows: 2;
	font-size: 11pt;
	margin-top: 5pt;
	font-family: 'Microsoft Sans Serif';
	margin-left: 50pt;
	color: #333333;
}

p.TableParagraph_4
{
	orphans: 2;
	widows: 2;
	font-size: 11pt;
	margin-top: 5pt;
	font-family: 'Microsoft Sans Serif';
	margin-left: 103pt;
	color: #333333;
}

span.span_16
{
	color: #333333;
}

span.span_17
{
	color: #333333;
	letter-spacing: 0pt;
}

p.TableParagraph_5
{
	orphans: 2;
	widows: 2;
	font-size: 11pt;
	margin-top: 5pt;
	margin-left: 5pt;
	font-family: 'Microsoft Sans Serif';
	margin-right: 1pt;
}

p.TableParagraph_6
{
	orphans: 2;
	widows: 2;
	font-size: 11pt;
	margin-top: 5pt;
	margin-left: 5pt;
	font-family: 'Microsoft Sans Serif';
	margin-right: 5pt;
	color: #333333;
}

p.TableParagraph_7
{
	orphans: 2;
	widows: 2;
	font-size: 11pt;
	margin-top: 5pt;
	margin-left: 5pt;
	font-family: 'Microsoft Sans Serif';
	margin-right: 1pt;
	color: #333333;
}

p.TableParagraph_8
{
	orphans: 2;
	widows: 2;
	font-size: 11pt;
	margin-top: 5pt;
	margin-left: 5pt;
	font-family: 'Microsoft Sans Serif';
	margin-right: 7pt;
	color: #333333;
}

p.TableParagraph_9
{
	orphans: 2;
	widows: 2;
	font-size: 11pt;
	font-family: 'Microsoft Sans Serif';
	margin-top: 0pt;
	margin-left: 0pt;
}

p.TableParagraph_10
{
	orphans: 2;
	widows: 2;
	font-size: 11pt;
	margin-top: 5pt;
	margin-left: 5pt;
	font-family: 'Microsoft Sans Serif';
	margin-right: 22pt;
	text-align: justify;
	color: #333333;
}

p.TableParagraph_11
{
	orphans: 2;
	widows: 2;
	font-size: 11pt;
	margin-top: 5pt;
	margin-left: 5pt;
	font-family: 'Microsoft Sans Serif';
	margin-right: 5pt;
}

p.p_12
{
	margin-top: 8pt;
	margin-bottom: 1pt;
	margin-left: 5pt;
	color: #333333;
	font-size: 14pt;
}

p.BodyText_23
{
	orphans: 2;
	widows: 2;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-right: 5pt;
	margin-top: 1pt;
	margin-left: 2pt;
}

div.div_8
{
	margin-left: 301pt;
	margin-top: 757.65pt;
	mso-wrap-style: square;
	mso-wrap-edited: f;
	mso-width-percent: 0;
	mso-height-percent: 0;
	mso-position-horizontal-relative: page;
	mso-position-vertical-relative: page;
	mso-width-percent: 0;
	mso-height-percent: 0;
	v-text-anchor: top;
}

p.BodyText_24
{
	orphans: 2;
	widows: 2;
	font-family: 'Microsoft Sans Serif';
	font-size: 11pt;
	margin-right: 5pt;
	margin-left: 0pt;
}

